<?xml version='1.0' encoding='utf-8'?>
<widget id="com.atmajaya.gamepandemic1" 
    version="1.0.1" 
    android-versionCode="10001"
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    >
    <name>Pandemic Survival</name>
    <description>
        A multilingual survival game for native Indonesian.
    </description>
    <author email="winatastanley355@gmail.com" >
        PKBB Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="android-targetSdkVersion" value="29" />
    <platform name="android">
        <!-- icon -->
        <icon src="www/assets/mdpi.png" density="mdpi" />
        <icon src="www/assets/ldpi.png" density="ldpi" />
        <icon src="www/assets/hdpi.png" density="hdpi" />
        <icon src="www/assets/xdpi.png" density="xhdpi" />
        <icon src="www/assets/xxdpi.png" density="xxhdpi" />
        <!-- splash -->
        <splash src="www/assets/hdpi.png" density="hdpi" />
        <splash src="www/assets/ldpi.png" density="ldpi" />
        <splash src="www/assets/mdpi.png" density="mdpi" />
        <splash src="www/assets/xhdpi.png" density="xhdpi" />

        <!-- <splash src="www/assets/hdpi.png" density="port-hdpi" />
        <splash src="www/assets/ldpi.png" density="port-ldpi" />
        <splash src="www/assets/mdpi.png" density="port-mdpi" />
        <splash src="www/assets/xhdpi.png" density="port-xhdpi" /> -->
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
