#gameScreen {
  display: none;
  width: 100vw;
  height: 100vh;
}

@media screen and (min-width: 500px) {
  #gameScreen {
    display: none;
    width: 102vw;
    height: 160vh;
  }
}

audio {
  display: none;
}
#screen1 {
  display: none;
}
#screen2 {
  display: none;
}
#screen3 {
  display: none;
}
/* ................................................. */

/* Open SideNav button */
#sideNavBtn {
  position: absolute;
  background: none;
  top: 2%;
  left: 2%;
  border: none;
  z-index: 0;
}
#sideNavBtn img {
  width: 40px;
  height: 40px;
}

#sideNav {
  display: none;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  border: 1px solid black;
  animation: menuSideNav 0.5s;
  background-color: lightblue;
  font-size: 22px;
  background: url("phoneBG.jpeg");
  background-size: cover;
}
#sideNav a {
  position: relative;
  /* top:1%; */
  left: 85%;
  font-size: 60px;
  color: white;
  text-shadow: 3px 3px lightblue;
  padding: 5px;
  text-decoration: none;
}
#sideNav button {
  width: 85%;
  background-color: #ffffff;
  color: black;
  display: block;
  font-size: 16px;
  font-weight: bold;
  font-family: monospace;
  border-radius: 10px;
  box-shadow: 5px 5px lightblue;
  padding: 10px;
  margin: 10px;
}
/* ................................................. */

/* obtain item list */
#obtainItemList {
  position: absolute;
  top: 1%;
  left: 12%;
  width: 400px;
  height: 70px;
  display: block;
  z-index: 1;
}
#obtainItemList img {
  width: 60px;
  height: 60px;
  animation-name: obtainImgAnimate;
  animation-duration: 2s;
}
#obtainMaskImg {
  display: none;
}
#obtainSanitImg {
  display: none;
}
#obtainFoodboxImg {
  display: none;
}
#obtainTomatoImg {
  display: none;
}
#obtainBreadImg {
  display: none;
}
#obtainFishImg {
  display: none;
}
@keyframes obtainImgAnimate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ................................................. */

/* progress bar */

progress {
  position: absolute;
  top: 4%;
  left: 60%;
  width: 35%;
  height: 7%;
  color: red;
}
progress::-webkit-progress-bar {
  position: absolute;
  top: 5%;
  left: 65%;
  width: 30%;
  height: 10%;
  color: red;
}
progress::-webkit-progress-value {
  position: absolute;
  top: 5%;
  left: 65%;
  width: 30%;
  height: 10%;
  color: red;
}
progress::-moz-progress-bar {
  position: absolute;
  top: 5%;
  left: 65%;
  width: 30%;
  height: 10%;
  color: red;
}
#health1 {
  display: block;
}
#health2 {
  display: none;
}
#health3 {
  display: none;
}
/* ................................................. */

/* onload game screen Text */
#onloadTextBox {
  display: block;
  z-index: 1;
  position: fixed;
  top: 1%;
  left: 0.5%;
  width: 90%;
  height: 50%;
  color: black;
  background-color: #f2f2f2;
  opacity: 0.9;
  border: 1px solid black;
  border-radius: 0.5rem;
  text-transform: none;
  font-family: monospace;
  font-size: 1rem;
  text-align: justify;
  animation-name: animateLoadText;
  animation-duration: 2s;
  padding: 1rem;
}

@media screen and (min-width: 500px) {
  #onloadTextBox {
    width: 95%;
  }
}

#onloadTextButton {
  color: black;
  background: none;
  border: none;
  padding: 1rem;
  font-size: inherit;
  text-decoration: underline;
  float: right;
}
@keyframes animateLoadText {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}
/* ................................................. */

/* Popping Image List */
#imgList {
  position: absolute;
  top: 10%;
  left: 25%;
  animation-name: imageAnimate;
  animation-duration: 1s;
  z-index: 0;
}
#imgList img {
  width: 200px;
  height: 200px;
}
#handWashImg {
  display: none;
}
#maskImg {
  display: none;
}
#sanitImg {
  display: none;
}
#tomatoImg {
  display: none;
}
#virusImg {
  display: none;
}
#fishImg {
  display: none;
}
#breadImg {
  display: none;
}
#carCrashImg {
  display: none;
}
@keyframes imageAnimate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ................................................. */

/* Canvas */
canvas {
  width: 95%;
  height: 55%;
  border: 5px solid whitesmoke;
  border-radius: 5px;
  position: relative;
  z-index: -1;
}
/* ................................................. */

/* top, right, down, left button level 1*/
#analog1 {
  display: none;
  position: absolute;
  top: 60%;
  left: 2%;
  z-index: 0;
}
#analog1 img {
  width: 60px;
  height: 60px;
}
#topArrow1 {
  margin-left: 60px;
  background: none;
  border: none;
}
#leftArrow1 {
  background: none;
  border: none;
}
#rightArrow1 {
  margin-left: 40px;
  background: none;
  border: none;
}
#downArrow1 {
  margin-left: 60px;
  background: none;
  border: none;
}

/* top, right, down, left button level 2*/
#analog2 {
  display: none;
  position: absolute;
  top: 60%;
  left: 2%;
  z-index: 0;
}
#analog2 img {
  width: 60px;
  height: 60px;
}
#topArrow2 {
  margin-left: 60px;
  background: none;
  border: none;
}
#leftArrow2 {
  background: none;
  border: none;
}
#rightArrow2 {
  margin-left: 40px;
  background: none;
  border: none;
}
#downArrow2 {
  margin-left: 60px;
  background: none;
  border: none;
}

/* top, right, down, left button level 3*/
#analog3 {
  display: none;
  position: absolute;
  top: 60%;
  left: 2%;
  z-index: 0;
}
#analog3 img {
  width: 60px;
  height: 60px;
}
#topArrow3 {
  margin-left: 60px;
  background: none;
  border: none;
}
#leftArrow3 {
  background: none;
  border: none;
}
#rightArrow3 {
  margin-left: 40px;
  background: none;
  border: none;
}
#downArrow3 {
  margin-left: 60px;
  background: none;
  border: none;
}

/* ................................................. */

/* Textbox */
#textBox {
  display: none;
  position: absolute;
  background-color: #99ff99;
  top: 40%;
  left: 2%;
  width: 95%;
  height: 16%;
  border-radius: 10px;
  border: 1px solid white;
  animation-name: textBoxAnimate;
  animation-duration: 1s;
  z-index: 0;
}
@keyframes textBoxAnimate {
  from {
    height: 0%;
  }
  to {
    height: 16%;
  }
}
#text {
  color: black;
  text-transform: none;
  font-family: monospace;
  font-size: 20px;
  margin-top: 0;
  margin-left: 5px;
  animation-name: textAnimate;
  animation-duration: 2s;
}
@keyframes textAnimate {
  from {
    color: greenyellow;
  }
  to {
    color: black;
  }
}
/* ................................................. */

/* toggle button */
#toggleBtn1, #toggleBtn2, #toggleBtn3 {
  display: none;
  position: fixed;
  color: white;
  background-color: transparent;
  top: 65%;
  right: 7.5%;
  border-radius: 50%;
  border: 3px solid black;
  z-index: 0;
  padding: 0.5rem;
  background: white;
}

#toggleBtn1 div, #toggleBtn2 div, #toggleBtn3 div {
  width: 4rem;
  height: 4rem;
  border: 3px solid black;
  border-radius: 50%;
}

/* healthbar */
#healthBar {
  position: absolute;
  top: 3%;
  left: 60%;
  width: 35%;
  background-color: #ddd;
  border-radius: 10px;
  /* z-index:1; */
}

#healthLine {
  width: 100%;
  height: 15%;
  background-color: red;
  color: red;
  border-radius: 5px;
}
