#gameScreen {
  display: none;
  width: 100vw;
  height: 100vh;
}

@media screen and (min-width: 500px) {
  #gameScreen {
    display: none;
    width: 102vw;
    height: 160vh;
  }
}

audio {
  display: none;
}
#screen1 {
  display: none;
}
#screen2 {
  display: none;
}
#screen3 {
  display: none;
}
/* ................................................. */

/* Open SideNav button */
#sideNavBtn {
  position: fixed;
  background: none;
  top: 2%;
  left: 2.5%;
  border: none;
  z-index: 0;
}
#sideNavBtn img {
  width: 3rem;
  height: 3rem;
  box-shadow: 3px 3px black;
  border-radius: 50%;
}

@media screen and (min-width: 500px) {
  #sideNavBtn {
    top: 3.5%;
    left: 1.5%;
  }
}

#sideNav {
  display: none;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  border: 1px solid black;
  animation: menuSideNav 0.5s;
  background-color: lightblue;
  font-size: 22px;
  background: url("phoneBG.jpeg");
  background-size: cover;
}
#sideNav a {
  position: relative;
  /* top:1%; */
  left: 85%;
  font-size: 60px;
  color: white;
  text-shadow: 3px 3px lightblue;
  padding: 5px;
  text-decoration: none;
}
#sideNav button {
  width: 85%;
  background-color: #ffffff;
  color: black;
  display: block;
  font-size: 16px;
  font-weight: bold;
  font-family: monospace;
  border-radius: 10px;
  box-shadow: 5px 5px lightblue;
  padding: 10px;
  margin: 10px;
}
/* ................................................. */

/* obtain item list */
#obtainItemList {
  display: flex;
  position: absolute;
  top: 1%;
  left: 15%;
  display: block;
  z-index: 1;
}
#obtainItemList img {
  width: 20%;
  height:100%;
  animation-name: obtainImgAnimate;
  animation-duration: 2s;
}

@media screen and (min-width: 500px) {
  #obtainItemList {
    left: 7.5%;
  }
  #obtainItemList img {
    width: 7.5%;
    height: 50%;
  }
}
#obtainMaskImg {
  display: none;
}
#obtainSanitImg {
  display: none;
}
#obtainFoodboxImg {
  display: none;
}
#obtainTomatoImg {
  display: none;
}
#obtainBreadImg {
  display: none;
}
#obtainFishImg {
  display: none;
}
@keyframes obtainImgAnimate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ................................................. */

/* progress bar */

progress {
  position: absolute;
  top: .5%;
  /* left: 60%; */
  width: 40%;
  height: 5%;
  color: red;
  right: 2%;
}

#health1 {
  display: block;
}
#health2 {
  display: none;
}
#health3 {
  display: none;
}

@media screen and (min-width: 500px) {
  progress {
   top: 2.5%;
   height: 7.5%;
  }
}

/* ................................................. */

/* onload game screen Text */
#onloadTextBox {
  display: block;
  z-index: 1;
  position: fixed;
  top: 1%;
  left: 0.5%;
  width: 90%;
  height: 50%;
  color: black;
  background-color: #f2f2f2;
  opacity: 0.9;
  border: 1px solid black;
  border-radius: 0.5rem;
  text-transform: none;
  font-family: monospace;
  font-size: 1rem;
  text-align: justify;
  animation-name: animateLoadText;
  animation-duration: 2s;
  padding: 1rem;
  box-shadow: 3px 3px black;
}

@media screen and (min-width: 500px) {
  #onloadTextBox {
    width: 95%;
  }
}

#onloadTextButton {
  color: black;
  background: none;
  border: none;
  padding: 1rem;
  font-size: inherit;
  text-decoration: underline;
  float: right;
}
@keyframes animateLoadText {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}
/* ................................................. */

/* Popping Image List */
#imgList {
  position: fixed;
  top: 7.5%;
  left: 0;
  animation-name: imageAnimate;
  animation-duration: 1s;
}
#imgList img {
  width: 40%;
  height: 40%;
  margin: auto;
}
#handWashImg {
  display: none;
}
#maskImg {
  display: none;
}
#sanitImg {
  display: none;
}
#tomatoImg {
  display: none;
}
#virusImg {
  display: none;
}
#fishImg {
  display: none;
}
#breadImg {
  display: none;
}
#carCrashImg {
  display: none;
}
@keyframes imageAnimate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ................................................. */

/* Canvas */
canvas {
  width: 95%;
  height: 50vh;
  border: 5px solid whitesmoke;
  border-radius: .5rem;
  position: relative;
  z-index: -1;
}

@media screen and (min-width: 500px) {
  canvas {
    height: 95vh;
  }
}
/* ................................................. */

/* top, right, down, left button level 1*/
#analog1,
#analog2,
#analog3 {
  display: none;
  position: fixed;
  top: 60%;
  left: 2%;
  z-index: 0;
  width: 50%;
  flex-direction: column;
}
#analog1 img,
#analog2 img,
#analog3 img {
  width: 4rem;
  height: 4rem;
  box-shadow: 3px 3px black;
  border-radius: 50%;
}

#analog1 div,
#analog2 div,
#analog3 div {
  display: flex;
  justify-content: space-between;
}
#topArrow1,
#topArrow2,
#topArrow3 {
  background: none;
  border: none;
}
#leftArrow1,
#leftArrow2,
#leftArrow3 {
  background: none;
  border: none;
}
#rightArrow1,
#rightArrow2,
#rightArrow3 {
  background: none;
  border: none;
}
#downArrow1,
#downArrow2,
#downArrow3 {
  background: none;
  border: none;
}

@media screen and (min-width: 500px) {
  #analog1,
  #analog2,
  #analog3 {
    top: 45%;
    width: 30%;
  }
}

/* ................................................. */

/* Textbox */

#textBox {
  display: none;
  position: fixed;
  background-color: white;
  top: 40%;
  left: 2%;
  width: 92.5%;
  height: 15%;
  border-radius: 0.5rem;
  border: 1px solid black;
  animation-name: textBoxAnimate;
  animation-duration: 1s;
  z-index: 10;
  padding: 0.5rem;
  box-shadow: 3px 3px black;
}
@keyframes textBoxAnimate {
  from {
    height: 0%;
  }
  to {
    height: 15%;
  }
}
#text {
  color: black;
  text-transform: none;
  font-family: monospace;
  font-size: 1rem;
  margin: 0;
}

@media screen and (min-width: 500px) {
  #textBox {
    top: 2.5%;
    width: 94%;
  }
}

/* ................................................. */

/* toggle button */
#toggleBtn1,
#toggleBtn2,
#toggleBtn3 {
  display: none;
  position: fixed;
  color: white;
  background-color: transparent;
  top: 65%;
  right: 7.5%;
  border-radius: 50%;
  border: 3px solid black;
  z-index: 0;
  padding: 0.5rem;
  background: white;
  box-shadow: 3px 3px black;
}

#toggleBtn1 div,
#toggleBtn2 div,
#toggleBtn3 div {
  width: 4rem;
  height: 4rem;
  border: 3px solid black;
  border-radius: 50%;
}


