/* vertically .......................*/
/* 320x533px */
@media screen and (min-width: 300px) and (max-width: 340px) and (min-height: 501px) and (max-height: 550px) {
  #loaderText {font-size: 22px;}
  #menuList button {font-size:22px}
  #imgList img {width:150px; height:150px;}
  #textBox {width:97%;}
  #text {font-size:18px;}
}

/* iphone 5/se */
@media screen and (min-width: 300px) and (max-width: 340px) and (min-height: 550px) and (max-height: 600px) {
  #loaderText {font-size: 22px;}
  #menuList button {font-size:22px}
  #imgList img {width:150px; height:150px;}
  #textBox {width:97%;}
  #text {font-size:18px;}
}

/* 360 x 640 */
@media screen and (min-width: 341px) and (max-width: 375px) and (min-height: 550px) and (max-height: 600px) {
  #loaderText {font-size: 22px;}
  #menuList button {font-size:22px}
  progress {top:2%;}
  #imgList img {width:150px; height:150px;}
  #textBox {width:97%; top: 43%;}
  #text {font-size:18px;}
}

/* 384 x 640 */
@media screen and (min-width: 376px) and (max-width: 400px) and (min-height: 601px) and (max-height: 650px) {
  #loaderText {font-size: 26px;}
  #menuList button {font-size:26px}
  progress {top:2%;}
  #imgList img {width:150px; height:150px;}
  #textBox {top: 43%; width:97%;}
  #text {font-size:18px;}
}

/* 412 x 732px */
@media screen and (min-width: 401px) and (max-width: 450px) and (min-height: 700px) and (max-height: 750px) {
  #loaderText {font-size: 36px;}
  #menuList button {font-size:32px}
  progress {top:1%;}
  #text {font-size:22px;}
}

/* 411x823 */
@media screen and (min-width: 401px) and (max-width: 450px) and (min-height: 801px) and (max-height: 850px) {
  #loaderText {font-size: 30px;}
  #loader {top:45%;}
  #menuList button {font-size:30px}
  #langNav p {font-size:28px;}
  #langNav button {font-size:24px;}
  #sideNavBtn img {width:60px; height:60px}
  #sideNav button {font-size:24px;}
  #obtainItemList {left:14%;}
  #obtainItemList img {width:80px; height:80px;}
  progress {top:1%;}
  #textBox {width:97%;}
}

/* samsung A50 */
@media screen and (min-width: 401px) and (max-width: 450px) and (min-height: 851px) and (max-height: 900px) {
  #loaderText {font-size: 30px;}
  #loader {top:45%;}
  #menuList button {font-size:30px}
  #langNav p {font-size:28px;}
  #langNav button {font-size:24px;}
  #sideNavBtn img {width:60px; height:60px}
  #sideNav button {font-size:20px;}
  #obtainItemList {left:14%;}
  #obtainItemList img {width:80px; height:80px;}
}

/* 480 x 854 */
@media screen and (min-width: 451px) and (max-width: 500px) and (min-height: 841px) and (max-height: 880px) {
  #loaderText {font-size: 36px;}
  #menuList button {font-size:32px}
  progress {top:1%;}
  #text {font-size:22px;}
  #imgList img {width:200px; height:200px;}
  #sideNavBtn img { width: 50px; height: 50px;}
  #obtainItemList img{ width: 70px; height: 70px;}
  progress {top:1%;}
}

/* samsung note 20 */
@media screen and (min-width: 401px) and (max-width: 450px) and (min-height: 901px) and (max-height: 950px) {
  #loaderText {font-size: 30px;}
  #loader {top:45%;}
  #menuList button {font-size:30px}
  #langNav p {font-size:28px;}
  #langNav button {font-size:24px;}
  #sideNavBtn img {width:60px; height:60px}
  #sideNav button {font-size:20px;}
  #obtainItemList {left:14%;}
  #obtainItemList img {width:80px; height:80px;}
}

/* samsung a31 */
@media screen and (min-width: 521px) and (max-width: 560px) and (min-height: 1180px) and (max-height: 1220px) {
  #loaderText {font-size: 42px;}
  #loader {top:40%; left:50%;}
  #menuList button {font-size:42px}
  #langNav p {font-size:36px;}
  #langNav button {font-size:30px;}
  #profNav p {font-size:24px; text-align:center;}
  #profNav button {font-size:30px;}
  #creditNav #acknowledge {font-size:24px;}
  #sideNavBtn img {width:70px; height:70px}
  #sideNav button {font-size:24px;}
  #obtainItemList {left:14%;}
  #obtainItemList img {width:100px; height:100px;}
  #imgList img {    width: 300px; height: 300px;}
  #text {font-size:28px;}
}

/* horitzontally .......................................................................................*/
/* 533x320 */
@media screen and (min-width: 500px) and (max-width: 550px) and (min-height: 300px) and (max-height: 350px) {
  #loaderText {font-size: 20px;}
  #loader {left:52%; top:70%;}
  #menuList button {margin:5px;}
  #langNav a { top:0; font-size: 40px;}
  #langNav p {font-size:16px;}
  #langNav button {font-size: 18px;}
  #profNav a { top:0; font-size: 40px;}
  #profNav p {font-size:20px;margin-left:10px;}
  input[type=text] {font-size:20px; padding:3px;}
  #getName {padding:1px;}
  #onloadTextBox { height:90%;}
  #sideNavBtn {top:3%;}
  #sideNavBtn img {width:50px; height:50px;}
  #sideNav a { top:0; font-size: 40px;}
  #sideNav button {font-size:20px; margin:5px;}
  #healthBar {top:5%;}
  #text {font-size:14px;}
  #textBox {top:70%; left: 30%; width:50%; height:25%;}
  @keyframes textBoxAnimate { from {height: 0%;} to {height: 25%;} }
  #imgList {left:35%;}
  #obtainItemList {left:10%;}
  #obtainItemList img {width:70px; height:70px;}
}

/* iphone 5SE */
@media screen and (min-width: 550px) and (max-width: 600px) and (min-height: 300px) and (max-height: 350px) {
  #loaderText {font-size: 20px;}
  #loader {left:52%; top:70%;}
  #menuList button {margin:5px;}
  #langNav a { top:0; font-size: 40px;}
  #langNav p {font-size:16px;}
  #langNav button {font-size: 18px;}
  #profNav a { top:0; font-size: 40px;}
  #profNav p {font-size:20px;margin-left:10px;}
  input[type=text] {font-size:20px; padding:3px;}
  #getName {padding:1px;}
  #onloadTextBox { height:90%;}
  #sideNavBtn {top:3%;}
  #sideNavBtn img {width:50px; height:50px;}
  #sideNav a { top:0; font-size: 40px;}
  #sideNav button {font-size:20px; margin:5px;}
  #healthBar {top:5%;}
  #text {font-size:14px;}
  #textBox {top:70%; left: 30%; width:50%; height:25%;}
  @keyframes textBoxAnimate { from {height: 0%;} to {height: 25%;} }
  #imgList {left:35%;}
  #obtainItemList {left:10%;}
  #obtainItemList img {width:70px; height:70px;}
}

/* 640 x 360px */
@media screen and (min-width: 600px) and (max-width: 650px) and (min-height: 340px) and (max-height: 375px) {
  #loaderText {font-size: 28px;}
  #loader {left:52%; top:70%;}
  #menuList button {margin:5px;}
  #langNav a { top:0; font-size: 40px;}
  #langNav p {font-size:16px;}
  #langNav button {font-size: 18px;}
  #profNav a { top:0; font-size: 40px;}
  #profNav p {font-size:20px;margin-left:10px;}
  input[type=text] {font-size:20px; padding:3px;}
  #getName {padding:1px;}
  #onloadTextBox { height:90%;}
  #sideNavBtn {top:3%;}
  #sideNavBtn img {width:50px; height:50px;}
  #sideNav a { top:0; font-size: 40px;}
  #sideNav button {font-size:20px; margin:5px;}
  #healthBar {top:5%;}
  #textBox {top:70%; left: 26%; width:55%; height:25%;}
  #text {font-size:14px;}
  @keyframes textBoxAnimate { from {height: 0%;} to {height: 25%;} }
  #imgList {left:35%;}
  #obtainItemList {left:10%;}
  #obtainItemList img {width:70px; height:70px;}
}

/* 640 x 384px */
@media screen and (min-width: 600px) and (max-width: 650px) and (min-height: 376px) and (max-height: 400px) {
  #loaderText {font-size: 28px;}
  #loader {left:52%; top:70%;}
  #menuList button {margin:5px;}
  #langNav a { top:0; font-size: 40px;}
  #langNav p {font-size:16px;}
  #langNav button {font-size: 18px;}
  #profNav a { top:0; font-size: 40px;}
  #profNav p {font-size:20px;margin-left:10px;}
  input[type=text] {font-size:20px; padding:3px;}
  #getName {padding:1px;}
  #onloadTextBox { height:90%;}
  #sideNavBtn {top:3%;}
  #sideNavBtn img {width:50px; height:50px;}
  #sideNav a { top:0; font-size: 40px;}
  #sideNav button {font-size:20px; margin:5px;}
  #healthBar {top:5%;}
  #textBox {top:70%; left: 26%; width:55%; height:25%;}
  #text {font-size:14px;}
  @keyframes textBoxAnimate { from {height: 0%;} to {height: 25%;} }
  #imgList {left:35%;}
  #obtainItemList {left:10%;}
  #obtainItemList img {width:70px; height:70px;}
}

/* iphone 6/7/8 biasa */
@media screen and (min-width: 651px) and (max-width: 700px) and (min-height: 360px) and (max-height: 400px) {
  #loaderText {font-size: 28px;}
  #loader {left:52%; top:70%;}
  #menuList button {margin:5px;}
  #langNav a { top:0; font-size: 40px;}
  #langNav p {font-size:16px;}
  #langNav button {font-size: 18px;}
  #profNav a { top:0; font-size: 40px;}
  #profNav p {font-size:20px;margin-left:10px;}
  input[type=text] {font-size:20px; padding:3px;}
  #getName {padding:1px;}
  #onloadTextBox { height:90%;}
  #sideNavBtn {top:3%;}
  #sideNavBtn img {width:50px; height:50px;}
  #sideNav a { top:0; font-size: 40px;}
  #sideNav button {font-size:20px; margin:5px;}
  #healthBar {top:5%;}
  #textBox {top:70%; left: 26%; width:55%; height:25%;}
  #text {font-size:14px;}
  @keyframes textBoxAnimate { from {height: 0%;} to {height: 25%;} }
  #imgList {left:37%;}
  #obtainItemList {left:10%;}
  #obtainItemList img {width:70px; height:70px;}
}

/* 732 x 412px*/
@media screen and (min-width: 701px) and (max-width: 750px) and (min-height: 400px) and (max-height: 450px) {
  #loaderText {font-size: 28px;}
  #loader {left:52%; top:70%;}
  #menuList button {margin:5px;}
  #langNav a { top:0; font-size: 40px;}
  #langNav p {font-size:16px;}
  #langNav button {font-size: 18px;}
  #profNav a { top:0; font-size: 40px;}
  #profNav p {font-size:20px;margin-left:10px;}
  input[type=text] {font-size:20px; padding:3px;}
  #getName {padding:1px;}
  #onloadTextBox { height:90%;}
  #sideNavBtn {top:3%;}
  #sideNavBtn img {width:50px; height:50px;}
  #sideNav a { top:0; font-size: 40px;}
  #sideNav button {font-size:20px; margin:5px;}
  #healthBar {top:5%;}
  #textBox {top:70%; left: 26%; width:55%; height:25%;}
  #text {font-size:14px;}
  @keyframes textBoxAnimate { from {height: 0%;} to {height: 25%;} }
  #imgList {left:37%;}
  #obtainItemList {left:10%;}
  #obtainItemList img {width:70px; height:70px;}
}

/* samsung galaxy 20 */
@media screen and (min-width: 781px) and (max-width: 830px) and (min-height: 351px) and (max-height: 400px) {
  #loaderText {font-size: 28px;}
  #loader {left:52%; top:70%;}
  #menuList button {margin:5px;}
  #langNav a { top:0; font-size: 40px;}
  #langNav p {font-size:16px;}
  #langNav button {font-size: 18px;}
  #profNav a { top:0; font-size: 40px;}
  #profNav p {font-size:20px;margin-left:10px;}
  input[type=text] {font-size:20px; padding:3px;}
  #getName {padding:1px;}
  #onloadTextBox { height:90%;}
  #sideNavBtn {top:3%;}
  #sideNavBtn img {width:50px; height:50px;}
  #sideNav a { top:0; font-size: 40px;}
  #sideNav button {font-size:20px; margin:5px;}
  #healthBar {top:5%;}
  #textBox {top:70%; left: 26%; width:55%; height:25%;}
  #text {font-size:14px;}
  @keyframes textBoxAnimate { from {height: 0%;} to {height: 25%;} }
  #imgList {left:37%;}
  #obtainItemList {left:10%;}
  #obtainItemList img {width:70px; height:70px;}
}

/* samsung galaxy 31 */
@media screen and (min-width: 781px) and (max-width: 830px) and (min-height: 401px) and (max-height: 450px) {
  #loaderText {font-size: 28px;}
  #loader {left:52%; top:70%;}
  #menuList button {margin:10px; font-size:36px;}
  #langNav a { top:0; font-size: 45px;}
  #langNav p {font-size:24px;}
  #langNav button {font-size: 24px;}
  #profNav a { top:0; font-size: 45px;}
  #profNav p {font-size:30px;margin-left:10px;}
  #creditNav p { font-size:24px;}
  input[type=text] {font-size:20px; padding:3px;}
  #getName {padding:1px;}
  #onloadTextBox { height:90%;}
  #sideNavBtn {top:3%;}
  #sideNavBtn img {width:60px; height:60px;}
  #sideNav a { top:0; font-size: 50px;}
  #sideNav button {font-size:24px; margin:5px;}
  #healthBar {top:5%;}
  #textBox {top:70%; left: 26%; width:55%; height:25%;}
  #text {font-size:18px;}
  @keyframes textBoxAnimate { from {height: 0%;} to {height: 25%;} }
  #imgList {left:37%;}
  #imgList img {width:250px; height:250px;}
  #obtainItemList {left:10%;}
  #obtainItemList img {width:90px; height:90px;}
}

/* 854 x 480 */
@media screen and (min-width: 831px) and (max-width: 865px) and (min-height: 451px) and (max-height: 500px) {
  #loaderText {font-size: 28px;}
  #loader {left:52%; top:70%;}
  #menuList button {margin:10px; font-size:36px;}
  #langNav a { top:0; font-size: 45px;}
  #langNav p {font-size:24px;}
  #langNav button {font-size: 24px;}
  #profNav a { top:0; font-size: 45px;}
  #profNav p {font-size:30px;margin-left:10px;}
  #creditNav p { font-size:24px;}
  input[type=text] {font-size:20px; padding:3px;}
  #getName {padding:1px;}
  #onloadTextBox { height:90%;}
  #sideNavBtn {top:3%;}
  #sideNavBtn img {width:60px; height:60px;}
  #sideNav a { top:0; font-size: 50px;}
  #sideNav button {font-size:24px; margin:5px;}
  #healthBar {top:5%;}

  #textBox {top:70%; left: 26%; width:55%; height:25%;}
  #text {font-size:18px;}
  @keyframes textBoxAnimate { from {height: 0%;} to {height: 25%;} }
  #imgList {left:37%;}
  #imgList img {width:250px; height:250px;}
  #obtainItemList {left:10%;}
  #obtainItemList img {width:90px; height:90px;}
}

/* samsung A50 */ 
@media screen and (min-width: 866px) and (max-width: 900px) and (min-height: 401px) and (max-height: 450px) {
  #loaderText {font-size: 28px;}
  #loader {left:52%; top:70%;}
  #menuList button {margin:5px;}
  #langNav a { top:0; font-size: 40px;}
  #langNav p {font-size:16px;}
  #langNav button {font-size: 18px;}
  #profNav a { top:0; font-size: 40px;}
  #profNav p {font-size:20px;margin-left:10px;}
  input[type=text] {font-size:20px; padding:3px;}
  #getName {padding:1px;}
  #onloadTextBox { height:90%;}
  #sideNavBtn {top:3%;}
  #sideNavBtn img {width:50px; height:50px;}
  #sideNav a { top:0; font-size: 40px;}
  #sideNav button {font-size:20px; margin:5px;}
  #healthBar {top:5%;}
  #textBox {top:70%; left: 26%; width:55%; height:25%;}
  #text {font-size:14px;}
  @keyframes textBoxAnimate { from {height: 0%;} to {height: 25%;} }
  #imgList {left:37%;}
  #obtainItemList {left:10%;}
  #obtainItemList img {width:70px; height:70px;}
}

/* samsung note 20 */ 
@media screen and (min-width: 901px) and (max-width: 950px) and (min-height: 401px) and (max-height: 450px) {
  #loaderText {font-size: 28px;}
  #loader {left:52%; top:70%;}
  #menuList button {margin:5px;}
  #langNav a { top:0; font-size: 40px;}
  #langNav p {font-size:16px;}
  #langNav button {font-size: 18px;}
  #profNav a { top:0; font-size: 40px;}
  #profNav p {font-size:20px;margin-left:10px;}
  input[type=text] {font-size:20px; padding:3px;}
  #getName {padding:1px;}
  #onloadTextBox { height:90%;}
  #sideNavBtn {top:3%;}
  #sideNavBtn img {width:50px; height:50px;}
  #sideNav a { top:0; font-size: 40px;}
  #sideNav button {font-size:20px; margin:5px;}
  #healthBar {top:5%;}
  #textBox {top:70%; left: 26%; width:55%; height:25%;}
  #text {font-size:12px;}
  @keyframes textBoxAnimate { from {height: 0%;} to {height: 25%;} }
  #imgList {left:37%;}
  #obtainItemList {left:10%;}
  #obtainItemList img {width:70px; height:70px;}
}
